.detail-quiz-container{
    display: flex;
    gap: 20px;
    .left-content{
        width: 70%;
        border: 1px solid red;
    }
    .right-content{
        width: 30%;
        border: 1px solid green;
    }
}