.admin-container{
    display: flex;
    .admin-sidebar{
        .pro-sidebar{
            height: 100vh !important;
        }
    }
    .admin-content{
        width: 100%;
        .admin-header{
            height: 40px;
            border: 1px solid green;
        }
        .admin-main{
            .user-pagination{
                display: flex;
                justify-content: center;
                //cố định thanh chuyển trang
                position: fixed;
                top:50%;
                left: 50%;
                width: auto;
                height: auto;
                margin-top: 320px;
            }
        }
    }

}